body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#activity-table-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    overflow-y: auto;
}

#activity-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 0;
    padding: 0;
}

#activity-table thead {
    background-color: #0056b3;
    color: white;
}

#activity-table th, #activity-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#activity-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#activity-table tbody tr:hover {
    background-color: #ddd;
}

#draw-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#draw-button {
    cursor: pointer;
    padding: 30px 60px; /* Increased padding for a larger button */
    font-size: 26px; /* Larger font size for the button text */
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 20px; /* Rounded corners for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 2;
}

#draw-button:hover {
    background-color: #003d82;
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

#activity-display {
    margin-top: 20px; /* Add space between the button and the display text */
    font-size: 24px;
    color: #333;
    min-height: 50px;
    width: 100%;
    position: absolute;
    top: 120%; /* Position below the button */
    left: 50%;
    transform: translate
